entire_wikipedia_compressed.xml
enwiki-20180720-pages-articles1.xml-p10p30302
enwiki-20180720-pages-articles.xml
enwiki-20180720-pages-articles3.xml-p88445p200507
test.xml
test_compressed.xml
test_hashmap_compressed.xml
mapping.xml